/**
 * Styling for HFC Calendar Builder Preview Table and Form.
 */

table.calendar-builder-preview tr.incomplete td.start-date {
  background: black;
}

table.calendar-builder-preview td.tags {
  white-space: nowrap;
}
